.hero-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}